.container{
  width:100vw;
  height: 100vh;
  row-gap: 20px;
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}


.active{
  background-color: green;

}

.disable{
  background-color: red;
}

#form, #decrypt-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  row-gap: 10px;
  border: 1px solid white;
  padding: 30px;
}

label{
  font-size: 20px;
  font-weight: 600;
}

#msg-box{
  box-sizing: border-box;
  height:100px;
  overflow-x: hidden;
}

input,textarea{
  overflow-x: hidden;
  height: 40px;
  width: 300px;
  border-radius: 12px;
  font-size: 20px;
  border: 1px solid white;
  padding-left: 10px;
  color: black;
  outline: none;
  box-sizing: border-box;
}

button{
  height: 45px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  width: fit-content;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}